<link rel="stylesheet" href="src/style/estudios.css" />
<section class="page-section" id="about">
  <div class="">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-sm-12 col-lg-6 text">
        <h3 class="text-black mt-0">
          Estudios y evaluaciones realizados por la OEI
        </h3>
        <p class="text-white-75 mb-4" style="text-align: justify">
          En la Oficina de Gestión del Monitoreo de la Evaluación e Impacto
          (OGMEI), realizamos estudios exhaustivos para evaluar el impacto de
          las políticas y proyectos implementados. Estos estudios nos permiten
          medir resultados y analizar cómo nuestras acciones afectan a la
          comunidad y el entorno. La importancia de estos estudios radica en
          nuestra capacidad para mejorar continuamente nuestras acciones,
          identificando áreas de mejora y buenas prácticas. Visita nuestra web
          para más información sobre nuestros estudios, resultados obtenidos y
          cómo usamos esta información para seguir mejorando.
        </p>
        <div
          class="btn btn-danger btn-xl"
          id="clickHaciaEstudios"
          >Ver mas</div
        >
      </div>

      <div class="col-sm-12 col-lg-6 chart-container">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
</section>

<script src="src/js/estudios.js"></script>
