<link rel="stylesheet" href="src/style/estudios.css" />
<section class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-6 text-center">
        <h2 class="text-white mt-0">Estudios realizados en OGMEI - OEI</h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4" style="text-align: justify">
          En la Oficina de Gestión del Monitoreo de la Evaluación e Impacto
          (OGMEI), realizamos estudios exhaustivos para evaluar el impacto de
          las políticas y proyectos que implementamos. Estos estudios nos
          permiten medir de manera precisa los resultados alcanzados y analizar
          cómo nuestras acciones afectan a la comunidad y al entorno. La
          importancia de estos estudios radica en nuestra capacidad para mejorar
          continuamente nuestras acciones. Al analizar el impacto de nuestras
          intervenciones, podemos identificar áreas de mejora y buenas prácticas
          que nos ayudan a optimizar nuestros recursos y maximizar nuestro
          impacto positivo. En nuestra web, encontrarás más información sobre
          cómo llevamos a cabo estos estudios, qué resultados hemos obtenido
          hasta ahora y cómo estamos utilizando esta información para seguir
          mejorando. ¡Únete a nosotros en este viaje hacia un futuro más
          sostenible!
        </p>
        <a
          class="btn btn-light btn-xl"
          target="_blank"
          href="https://app.powerbi.com/view?r=eyJrIjoiZTljOGE3Y2MtZmIwOC00N2Q3LThjYWQtMzYyNDRmOTkyZGEyIiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
          >Ver mas</a
        >
      </div>

      <div class="col-6 chart-container">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
</section>

<script src="src/js/estudios.js"></script>
