<div class="container px-5">
  <h3 class="text-center mt-4 mb-2">Acerca de</h3>
  <div class="text-center">
    <img
      src="src/assets/img/acerdaDe/principal.jpg"
      style="width: 90%; height: 700px"
    />
  </div>  

  <h3 class="text-center mt-4">¿Adónde vamos?</h3>
  <p class="text-justify">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  
  <h3 class="text-center mt-4">¿Qué queremos?</h3>
  <p class="text-justify">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>  
  
  <hr class="divider" />

  <h3 class="text-center mt-4">¿Qué hacemos?</h3>
  <p class="text-justify">
    La OGMEI es el órgano de asesoramiento del Ministerio de Vivienda,
    Construcción y Saneamiento responsable del monitoreo y evaluación de las
    políticas nacionales y sectoriales; así como de la evaluación de impacto de
    los planes, programas y proyectos que se encuentran en el ámbito del Sector.
    Sus funciones principales son las siguientes:
  </p>
  <div class="container">
    <p class="text-justify">
      <b>a)</b> Proponer las normas y lineamientos para la implementación y
      funcionamiento eficaz y eficiente del monitoreo y evaluación del impacto
      integral de las políticas nacionales y sectoriales de competencia del
      Sector;
    </p>
    <p class="text-justify">
      <b>b)</b> Aprobar indicadores y estándares para medir el desempeño e
      impacto de las políticas nacionales y sectoriales, planes nacionales,
      programas y proyectos del Sector;
    </p>
    <p class="text-justify">
      <b>c)</b> Diseñar y establecer estrategias para el monitoreo y evaluación
      del impacto de los programas y proyectos, así como de la gestión y
      ejecución de las políticas nacionales y sectoriales que se encuentren en
      el ámbito del Sector;
    </p>
  </div>

  <h3 class="text-center mt-4">¿Cómo nos organizamos?</h3>
  <p class="text-justify">
    La OGMEI, para el cumplimiento de sus funciones, cuenta con la siguiente
    estructura:
  </p>
  <div class="container mb-5">
    <p class="text-justify"><b>1)</b> Oficina de Monitoreo (OM)</p>
    <p class="text-justify">
      <b>2)</b> Oficina de Evaluación del Impacto (OEI)
    </p>
    <div class="text-center mb-4 p-4">
      <img
        src="src/assets/img/acerdaDe/organigrama.png"
        style="width: 50%; height: 300px"
      />
    </div>
  </div>
  <hr class="divider" />
  <h3 class="text-center mt-5">¿Con qué instrumento de gestión contamos?</h3>
  <p class="text-justify">
    La OGMEI para el desarrollo de sus funciones cuenta con los siguientes
    instrumentos de gestión:
  </p>
  <div id="lineaDeTiempo" class="pb-5"></div>
</div>

<script src="src/js/acercaDe.js"></script>
