<link rel="stylesheet" href="src/style/lineaDeTiempo.css" />

<div class="wrapper">
  <div class="center-line">
    <a href="#" class="scroll-icon"><i class="fa fa-caret-up"></i></a>
  </div>

  <div class="row row-1">
    <section>
      <i class="icon fa fa-star"></i>
      <div class="details">
        <span class="title">Resolución Ministerial N° 188-2024-VIVIENDA </span>
        <b>mayo 2024</b>
      </div>
      <p class="text-justify">
        Se aprueba la Directiva General N° 005-2024-VIVIENDA-DM “Disposiciones
        para la implementación de las mesas de asistencia técnica a los
        gobiernos subnacionales en la ejecución de las intervenciones del Sector
        Vivienda, Construcción y Saneamiento”
      </p>
      <div class="bottom">
        <a
          target="_blank"
          href="https://www.gob.pe/institucion/vivienda/normas-legales/5609183-188-2024-vivienda "
          >Ver Documento</a
        >
      </div>
    </section>
  </div>

  <div class="row row-2">
    <section>
      <i class="icon fa fa-star"></i>
      <div class="details">
        <span class="title">Resolución Ministerial N° 159-2024-VIVIENDA </span>
        <b>Mayo 2024</b>
      </div>
      <p class="text-justify">
        Se aprueba la Directiva General N° 004-2024-VIVIENDA-DM “Disposiciones
        para la elaboración de estudios y evaluaciones de las intervenciones
        públicas del Ministerio de Vivienda, Construcción y Saneamiento”
      </p>
      <div class="bottom">
        <a
          target="_blank"
          href="https://www.gob.pe/institucion/vivienda/normas-legales/5530526-159-2024-vivienda "
          >Ver Documento</a
        >
      </div>
    </section>
  </div>

  <div class="row row-1">
    <section>
      <i class="icon fa fa-star"></i>
      <div class="details">
        <span class="title"
          >Resolución de Secretaría General ° 037-2024-VIVIENDA
        </span>
        <b>Abril 2024</b>
      </div>
      <p class="text-justify">
        Se aprueba el “Plan Anual de Evaluación 2024 del Ministerio de Vivienda,
        Construcción y Saneamiento” (PAE 2024 MVCS).
      </p>
      <div class="bottom">
        <a
          target="_blank"
          href="https://www.gob.pe/institucion/vivienda/normas-legales/5480735-037-2024-vivienda-sg "
          >Ver Documento</a
        >
      </div>
    </section>
  </div>

  <div class="row row-2">
    <section>
      <i class="icon fa fa-star"></i>
      <div class="details">
        <span class="title">Resolución Ministerial N° 089-2024-VIVIENDA </span>
        <b>Marzo 2024</b>
      </div>
      <p class="text-justify">
        Se aprueba el “Calendario Multianual de Evaluaciones de Impacto del
        Ministerio de Vivienda, Construcción y Saneamiento, correspondiente a
        los años fiscales 2025 - 2031”
      </p>
      <div class="bottom">
        <a
          target="_blank"
          href="https://www.gob.pe/institucion/vivienda/normas-legales/5374658-089-2024-vivienda "
          >Ver Documento</a
        >
      </div>
    </section>
  </div>

  <div class="row row-1">
    <section>
      <i class="icon fa fa-star"></i>
      <div class="details">
        <span class="title">Resolución Ministerial N° 184-2021-VIVIENDA </span>
        <b>Abril 2021</b>
      </div>
      <p class="text-justify">
        En el artículo 3 de la norma de creación de la PRESET, se establece que:
        “El monitoreo y evaluación de la PRESET se encuentra a cargo de la
        Oficina General de Monitoreo y Evaluación del Impacto (…)"
      </p>
      <div class="bottom">
        <a
          target="_blank"
          href="https://cdn.www.gob.pe/uploads/document/file/1983594/RM%20184-2021-VIVIENDA.pdf.pdf?v=1625060218"
          >Ver Documento</a
        >
      </div>
    </section>
  </div>
</div>
