<body>
  <script src="src/js/menu.js"></script>
  <link rel="stylesheet" href="src/style/menu.css" />

  <nav class="navbar navbar-expand-lg navbar-dark nav-color-personalizado">
    <div class="container-fluid">
      <a href="#">
        <img
          id="paginaPrincial"
          style="color: red"
          src="https://www.gob.pe/assets/escudo_text_gobpe_bicentenario-b3f3c1757eef6fb41bfd4faa9f55f49ebe39cbdbc70f57cb40e9f767af9a969b.svg"
          width="300"
          height="50"
          class="mr-5"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main_nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link titulo_menu dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              MAT
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  id="clickMesasDeAsistenciaTecnica"
                >
                  REPORTE
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link titulo_menu dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              ACERCA DE LA OEI
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"> RESEÑA &raquo; </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#" id="clickReseniaUno"
                      >RESEÑA 1</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" id="clickReseniaDos"
                      >RESEÑA 2</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item" href="#" id="organigrama">
                  ORGANIGRAMA
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link titulo_menu dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              DOCUMENTOS
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#" id="2_documentos"> PAE </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link titulo_menu dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              INDICADORES
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#" id="4_indicadores">
                  INDICADORES GENERALES</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link titulo_menu dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              PUBLICACIONES
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"> SANEAMIENTO &raquo; </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">PAE 2020 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item" href="#">ESTUDIO 1</a></li>
                      <li><a class="dropdown-item" href="#">ESTUDIO 2</a></li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">PAE 2021 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item" href="#">ESTUDIO 1</a></li>
                      <li><a class="dropdown-item" href="#">ESTUDIO 2</a></li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">PAE 2022 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item" href="#">ESTUDIO 1</a></li>
                      <li><a class="dropdown-item" href="#">ESTUDIO 2</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li>
                <a class="dropdown-item" href="#"> VIVIENDA &raquo; </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">PAE 2020 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item" href="#">ESTUDIO 1</a></li>
                      <li><a class="dropdown-item" href="#">ESTUDIO 2</a></li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">PAE 2021 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item"
                          href="#"
                          id="4_publicaciones_vivienda_pae2021_estudio1_pnvr2019"
                          >ESTUDIO 1: Línea de base 2019 PNVR</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          href="#"
                          id="4_publicaciones_vivienda_pae2021_estudio2_percepciones2019"
                          >ESTUDIO 2: Percepciones 2019 PNVR</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">PAE 2022 &raquo; </a>
                    <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item" href="#">ESTUDIO 1</a></li>
                      <li><a class="dropdown-item" href="#">ESTUDIO 2</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link titulo_menu dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              MATRICES DE COMPROMISOS
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"> SANEAMIENTO &raquo; </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">MATRIZ 1</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">MATRIZ 2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item" href="#"> VIVIENDA &raquo; </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">MATRIZ 1</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">MATRIZ 2</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link titulo_menu dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              LO QUE VENIMOS HACIENDO
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"> ESTUDIOS &raquo; </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">ESTUDIO 1</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">ESTUDIO 2</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">ESTUDIO 3</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">ESTUDIO 4</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">ESTUDIO 5</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  ASISTENCIA TÉCNICA &raquo;
                </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">REGIONES VISTADAS</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">ACUERDOS</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">OBRAS INICIADAS</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link titulo_menu dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
            >
              POI-PEI-PESEM
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"> POI </a>
                <a class="dropdown-item" href="#"> PEI </a>
                <a class="dropdown-item" href="#"> PESEM </a>
                <a class="dropdown-item" href="#"> DIRECTIVA </a>
                <a class="dropdown-item" href="#"> ROF </a>
                <a class="dropdown-item" href="#"> MOF </a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</body>
