<body>
  <script src="src/js/menu.js"></script>
  <link rel="stylesheet" href="src/style/menu.css" />

  <nav class="navbar navbar-expand-lg navbar-dark nav-color-personalizado">
    <div class="container-fluid">
      <a>
        <img
          id="paginaPrincial"
          style="color: red"
          src="https://www.gob.pe/assets/escudo_text_gobpe_bicentenario-b3f3c1757eef6fb41bfd4faa9f55f49ebe39cbdbc70f57cb40e9f767af9a969b.svg"
          width="300"
          height="50"
          class="mr-5"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main_nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">
          <li class="nav-item mr-5">
            <a
              class="nav-link titulo_menu"            
              id="accesoAAcercaDe"
            >
              ACERCA DE
            </a>
          </li>
          <li class="nav-item dropdown mr-5">
            <a
              class="nav-link titulo_menu dropdown-toggle"
            
              data-bs-toggle="dropdown"
            >
              EVALUACIÓN DEL IMPACTO
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" id="oei_uno">
                  Plan Anual de Evaluación (PAE)
                </a>
              </li>
              <li>
                <a class="dropdown-item" id="oei_dos"> Evaluaciones y Estudios </a>
              </li>
              <li>
                <a   class="dropdown-item"> Indicadores Sectoriales </a>
              </li>
              <li>
                <a class="dropdown-item">
                  Directiva y calendario de evaluaciones
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item mr-5">
            <a
              class="nav-link titulo_menu"            
              id="accesoAAcercaDe"
            >
              MONITOREO
            </a>
          </li>
          <li class="nav-item dropdown mr-5">
            <a
              class="nav-link titulo_menu dropdown-toggle"
            
              data-bs-toggle="dropdown"
            >
              OTROS
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                
                  id="clickMesasDeAsistenciaTecnica"
                >
                  Mesas de asistencia técnica
                </a>
              </li>
            </ul>
          </li>          
        </ul>
      </div>
    </div>
  </nav>
</body>
