<link href="src/style/card.css" rel="stylesheet" />

<div class="card-mobile">
    <div class="team-boxed">
      <div class="" style="padding: 10px 12% 10px 12%">
        <div class="row people">
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/1.png"
              />
              <h3 class="name" style="font-size: 20px">PRESET</h3>
              <p class="description">
                Plataforma estratégica de Gobierno Electrónico orientada en
                simplificar y mejorar las evaluaciones de proyectos
              </p>
              <a
                href="https://app.powerbi.com/view?r=eyJrIjoiZWU2ZDBlMWUtZWZhNy00OTJkLWJhNGUtZDc0ZjJiZjA4YzMzIiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px; text-align: center"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/2.png"
              />
              <h3 class="name" style="font-size: 20px">OBRAS PARALIZADAS</h3>
              <p class="description">
                Es aquella que se detiene temporalmente debido a problemas
                financieros, legales u otros obstáculos
              </p>
              <a
                href="https://app.powerbi.com/view?r=eyJrIjoiZTE5ZWEwOGQtMWM0NC00ODQyLWI1YmYtZTBkY2Q1NmZmMjgyIiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/3.png"
              />
              <h3 class="name" style="font-size: 20px">TRANSFERENCIAS A GSN</h3>
              <p class="description">
                Son la asignación de fondos financieros a entidades locales o
                regionales para apoyar sus actividades y programas.
              </p>
              <a
                href="https://app.powerbi.com/view?r=eyJrIjoiYmUwZGRjMmMtOGVmOC00YWNmLTlmZWUtMjgwYTI2OTg0ZjM4IiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/4.png"
              />
              <h3 class="name" style="font-size: 20px">FICHAS DE PROYECTOS</h3>
              <p class="description">
                Son documentos que resumen información clave sobre un proyecto,
                incluyendo sus objetivos, alcance, presupuesto y cronograma.
              </p>
              <a
                href="https://drive.google.com/drive/folders/1nbWMOmYK-99nj5SbGR8HuN0_jMErVwRx"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/5.png"
              />
              <h3 class="name" style="font-size: 20px">EPS</h3>
              <p class="description">
                Es aquella que ofrece diversos servicios a clientes o usuarios,
                en lugar de productos tangibles.
              </p>
              <a
                href="https://docs.google.com/presentation/d/1u3B-h8pOlIu5jjZT1MtOgIRmLSDza0hS/edit"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/6.png"
              />
              <h3 class="name" style="font-size: 20px">INDICADORES</h3>
              <p class="description">
                Son medidas o señales que proporcionan información específica
                sobre el rendimiento, estado o tendencias del sector
              </p>
              <a
                href="https://app.powerbi.com/view?r=eyJrIjoiM2ExNmI0YjgtN2Y4OC00ZWZhLTk1ZjgtYjJlZGFkZDZhYWMxIiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/7.png"
              />
              <h3 class="name" style="font-size: 20px">
                MESAS DE ASISTENCIA TECNICAS
              </h3>
              <p class="description">
                Es un grupo especializado encargado de brindar apoyo técnico y
                asesoramiento en temas relacionados con vivienda, construcción y
                saneamiento.
              </p>
              <a
                href="https://app.powerbi.com/view?r=eyJrIjoiZjQ2YzhjYWMtNGNiNi00YzgyLTkxNTAtM2M0MjY1MmQyYTNkIiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/8.png"
              />
              <h3 class="name" style="font-size: 20px">
                MATRICES DE CUMPLIMIENTO
              </h3>
              <p class="description">
                Son herramientas para evaluar el cumplimiento de objetivos en un
                proyecto.
              </p>
              <a
                href="https://drive.google.com/drive/folders/1ntwzcMVPtK-RE_Y5MQGpitU-BMV-THR2"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/9.png"
              />
              <h3 class="name" style="font-size: 20px">
                ANALISIS DE PRESUPUESTO
                <section style="color: #C00000;">
                  (EN PROCESO)
                </section>
              </h3>
              <p class="description">
                Es el examen detallado de los ingresos y gastos planificados
                para determinar su viabilidad, eficiencia y alineación con los
                objetivos financieros.
              </p>
              <a
                href=""
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/10.png"
              />
              <h3 class="name" style="font-size: 20px">
                EVIDENCIAS PARA MEJORES INTERVENCIONES
              </h3>
              <p class="description">
                Se refiere al uso de datos y pruebas concretas para informar y
                mejorar las acciones o decisiones tomadas en un determinado
                contexto o situación.
              </p>
              <a
                href="https://drive.google.com/drive/folders/1fv_92xOJbxb91JY3kQ1PdKvt1ilqn5V7"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/11.png"
              />
              <h3 class="name" style="font-size: 20px">
                PLAN ANUAL DE EVALUACIONES
              </h3>
              <p class="description">
                Resume y evalua el cumplimiento de objetivos en proyectos,
                facilitando el seguimiento y la toma de decisiones.
              </p>
              <a
                href="https://drive.google.com/drive/folders/1-hL_j33wxXDX4i61xRGay4wCODbogG-s"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-3 item">
            <div
              class="box"
              style="
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
              "
            >
              <img
                style="width: 100px"
                src="https://artsignsoluciones.com/data/dashboard/img/12.png"
              />
              <h3 class="name" style="font-size: 20px">
                CALENDARIO MULTIANUAL DE EVALUACIONES
              </h3>
              <p class="description">
                Son herramientas para evaluar el cumplimiento de objetivos en un
                proyecto a lo largo de varios años.
              </p>
              <a
                href="https://drive.google.com/drive/folders/1t-HRT4ov37mAC42y3V4dUiUg3bTlVHLB"
                class="btn btn-danger"
                target="_blank"
                style="width: 100px"
                >Ver</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS (opcional, solo si necesitas funcionalidades JS de Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  
</div>

<!-- <div class="card">
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      style="background-color: #eef4f7"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <svg class="" width="" height="600"></svg>
          <div class="carousel-caption d-none d-md-block">
            <div class="team-boxed">
              <div class="">
                <div class="row people">
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/1.png"
                      />
                      <h3 class="name" style="font-size: 20px">PRESET</h3>
                      <p class="description">
                        Plataforma estratégica de Gobierno Electrónico orientada
                        en simplificar y mejorar las evaluaciones de proyectos
                      </p>
                      <a
                        href="https://app.powerbi.com/view?r=eyJrIjoiMGQ4ZWNhMzAtNWM1ZC00ZmQ4LWIxMDktYThmNTZlNGJlYzg3IiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px; text-align: center"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/2.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        OBRAS PARALIZADAS
                      </h3>
                      <p class="description">
                        Es aquella que se detiene temporalmente debido a
                        problemas financieros, legales u otros obstáculos
                      </p>
                      <a
                        href="https://app.powerbi.com/view?r=eyJrIjoiZTE5ZWEwOGQtMWM0NC00ODQyLWI1YmYtZTBkY2Q1NmZmMjgyIiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/3.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        TRANSFERENCIAS A GSN
                      </h3>
                      <p class="description">
                        Son la asignación de fondos financieros a entidades
                        locales o regionales para apoyar sus actividades y
                        programas.
                      </p>
                      <a
                        href="https://app.powerbi.com/view?r=eyJrIjoiYmUwZGRjMmMtOGVmOC00YWNmLTlmZWUtMjgwYTI2OTg0ZjM4IiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/4.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        FICHAS DE PROYECTOS
                      </h3>
                      <p class="description">
                        Son documentos que resumen información clave sobre un
                        proyecto, incluyendo sus objetivos, alcance, presupuesto
                        y cronograma.
                      </p>
                      <a
                        href="https://drive.google.com/drive/folders/1nbWMOmYK-99nj5SbGR8HuN0_jMErVwRx"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <svg class="" width="" height="600"></svg>
          <div class="carousel-caption d-none d-md-block">  
            <div class="team-boxed">
              <div class="">
                <div class="row people">
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/5.png"
                      />
                      <h3 class="name" style="font-size: 20px">EPS</h3>
                      <p class="description">
                        Es aquella que ofrece diversos servicios a clientes o
                        usuarios, en lugar de productos tangibles.
                      </p>
                      <a
                        href="https://docs.google.com/presentation/d/1u3B-h8pOlIu5jjZT1MtOgIRmLSDza0hS/edit"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/6.png"
                      />
                      <h3 class="name" style="font-size: 20px">INDICADORES</h3>
                      <p class="description">
                        Son medidas o señales que proporcionan información
                        específica sobre el rendimiento, estado o tendencias del
                        sector
                      </p>
                      <a
                        href="https://app.powerbi.com/view?r=eyJrIjoiM2ExNmI0YjgtN2Y4OC00ZWZhLTk1ZjgtYjJlZGFkZDZhYWMxIiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/7.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        MESAS DE ASISTENCIA TECNICAS
                      </h3>
                      <p class="description">
                        Es un grupo especializado encargado de brindar apoyo
                        técnico y asesoramiento en temas relacionados con
                        vivienda, construcción y saneamiento.
                      </p>
                      <a
                        href="https://app.powerbi.com/view?r=eyJrIjoiZjQ2YzhjYWMtNGNiNi00YzgyLTkxNTAtM2M0MjY1MmQyYTNkIiwidCI6IjhhZmMxYzZhLThjOWYtNDA5My1iMDU1LWU0MTdiMjA5M2IwYyIsImMiOjR9"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/8.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        MATRICES DE CUMPLIMIENTO
                      </h3>
                      <p class="description">
                        Son herramientas para evaluar el cumplimiento de
                        objetivos en un proyecto.
                      </p>
                      <a
                        href="https://drive.google.com/drive/folders/1ntwzcMVPtK-RE_Y5MQGpitU-BMV-THR2"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="carousel-item">
          <svg class="" width="" height="600"></svg>
          <div class="carousel-caption d-none d-md-block">  
            <div class="team-boxed">
              <div class="">
                <div class="row people">
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/9.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        ANALISIS DE PRESUPUESTO
                      </h3>
                      <p class="description">
                        Es el examen detallado de los ingresos y gastos
                        planificados para determinar su viabilidad, eficiencia y
                        alineación con los objetivos financieros.
                      </p>
                      <a
                        href=""
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/10.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        EVIDENCIAS PARA MEJORES INTERVENCIONES
                      </h3>
                      <p class="description">
                        Se refiere al uso de datos y pruebas concretas para
                        informar y mejorar las acciones o decisiones tomadas en
                        un determinado contexto o situación.
                      </p>
                      <a
                        href="https://drive.google.com/drive/folders/1fv_92xOJbxb91JY3kQ1PdKvt1ilqn5V7"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/11.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        PLAN ANUAL DE EVALUACIONES
                      </h3>
                      <p class="description">
                        Resume y evalua el cumplimiento de objetivos en
                        proyectos, facilitando el seguimiento y la toma de
                        decisiones.
                      </p>
                      <a
                        href="https://drive.google.com/drive/folders/1-hL_j33wxXDX4i61xRGay4wCODbogG-s"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 item">
                    <div
                      class="box"
                      style="
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                      "
                    >
                      <img
                        style="width: 100px"
                        src="https://artsignsoluciones.com/data/dashboard/img/12.png"
                      />
                      <h3 class="name" style="font-size: 20px">
                        CALENDARIO MULTIANUAL DE EVALUACIONES
                      </h3>
                      <p class="description">
                        Son herramientas para evaluar el cumplimiento de
                        objetivos en un proyecto a lo largo de varios años.
                      </p>
                      <a
                        href="https://drive.google.com/drive/folders/1t-HRT4ov37mAC42y3V4dUiUg3bTlVHLB"
                        class="btn btn-danger"
                        target="_blank"
                        style="width: 100px"
                        >Ver</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </body>
</div>  -->