<link rel="stylesheet" href="src/style/comp.css" />
<div class="container">
  <div class="c-6 titulo-documentos">DOCUMENTOS</div>
  <div class="row row-documentos">
    <div class="col-lg-6 col-md-12 mt-3">
      <div class="cuerpo">
        <a
          target="_blank"
          href="https://cdn.www.gob.pe/uploads/document/file/4832967/RSG%20N%C2%B0%20072-2020-VIVIENDA-SG%20Aprobaci%C3%B3n%20PAE%202020.pdf?v=1689192952"
        >
          <img src="src/assets/img/file.png" class="img-documentos" />
        </a>
      </div>
      <div class="mt-5">
        <p>SG N° 072-2020-VIVIENDA-SG Aprobación PAE 2020</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
      <div class="cuerpo">
        <a
          target="_blank"
          href="https://cdn.www.gob.pe/uploads/document/file/4832968/RSG%20N%C2%B0%20036-2021-VIVIENDA-SG%20Aprobaci%C3%B3n%20PAE%202021.pdf?v=1689192952"
        >
          <img src="src/assets/img/file.png" class="img-documentos" />
        </a>
      </div>
      <div class="mt-5">
        <p>RSG N° 036-2021-VIVIENDA-SG Aprobación PAE 2021</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
      <div class="cuerpo">
        <a
          target="_blank"
          href="https://cdn.www.gob.pe/uploads/document/file/4832969/RSG%20N%C2%B0%20031-2022-VIVIENDA-SG%20Aprobaci%C3%B3n%20PAE%202022.pdf?v=1689192952"
        >
          <img src="src/assets/img/file.png" class="img-documentos" />
        </a>
      </div>
      <div class="mt-5">
        <p>RSG N° 031-2022-VIVIENDA-SG Aprobación PAE 2022</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
      <div class="cuerpo">
        <a
          target="_blank"
          href="https://cdn.www.gob.pe/uploads/document/file/4832970/RSG%20N%C2%B0%20036-2023-VIVIENDA-SG%20Aprobaci%C3%B3n%20PAE%202023.pdf?v=1689192952"
        >
          <img src="src/assets/img/file.png" class="img-documentos" />
        </a>
      </div>
      <div class="mt-5">
        <p>RSG N° 036-2023-VIVIENDA-SG Aprobación PAE 2023</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
      <div class="cuerpo">
        <a target="_blank" href="">
          <img src="src/assets/img/file.png" class="img-documentos" />
        </a>
      </div>
      <div class="mt-5">
        <p>DOCUMENTO #</p>
      </div>
    </div>
  </div>
</div>
