<style>
  #map {
    width: 100%;
    height: 100vh;
    background-color: white;
    /* background: url('src/assets/img/principal/bg-masthead.jpg') no-repeat center center; */
  }

  .label {
    color: black;
    padding: 5px;
    border-radius: 5px;
  }
</style>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row h-100 vh-100">
  <div class="col-lg-4 col-md-12 h-100 vh-100 position-relative">
    <p class="text-justify px-4 mt-5">
      La Mesa de asistencia técnica – MAT es un instrumento técnico de gestión
      que permite generar espacios de coordinación y asesoramiento personalizado
      entre el MVCS y los Gobiernos regionales, provinciales y distritales y/o
      EPS, con el objetivo
      <b
        ><u
          >de brindar asistencia técnica para la mejora de la gestión de
          proyectos incluidos en los ejes, para el cierre de brechas de
          saneamiento, agua y vivienda</u
        ></b
      >.
    </p>
    <h6 class="px-4">Temas a tratar:</h6>
    <ul style="margin-left: 20px">
      <li>Ejecución de obras atrasadas o suspendidas.</li>
      <li>Reactivación de obras paralizadas.</li>
      <li>Recepción de obras.</li>
      <li>Gestión de la PRESET.</li>
      <li>Gestión del financiamiento de proyectos.</li>
    </ul>

    <h6 class="px-4">Quienes participan:</h6>
    <ul style="margin-left: 20px">
      <li>
        El MVCS, a través de sus unidades de organización y Programas (PNSR,
        PNSU, PNVR, PMIB, PNC).
      </li>
      <li>Gobiernos Regionales, Municipios Provinciales y Distritales.</li>
    </ul>

    <h6 class="px-4">Resultados que se buscan con la MAT:</h6>
    <ul style="margin-left: 20px">
      <li class="text-justify pr-4">
        Atender la mayor cantidad de proyectos que aporten a la reducción de
        brechas.
      </li>
      <li class="text-justify pr-4">
        Los GSN asumen compromisos para adoptar acciones respecto a los
        proyectos a su cargo.
      </li>
      <li class="text-justify pr-4">
        Los Programas brindan asistencia técnica y realizan seguimiento para el
        cumplimiento de los compromisos por cada proyecto.
      </li>
    </ul>

    <h6 class="px-4">NOTICIAS POR DEPARTAMENTO</h6>
    <div class="row">
      <div class="col-11">
        <select id="selectDepartamento" class="form-select ml-4">
          <option selected value="RESET">TODOS</option>
          <option value="AMAZONAS">AMAZONAS</option>
          <option value="ANCASH">ANCASH</option>
          <option value="APURIMAC">APURIMAC</option>
          <option value="AREQUIPA">AREQUIPA</option>
          <option value="AYACUCHO">AYACUCHO</option>
          <option value="CAJAMARCA">CAJAMARCA</option>
          <option value="CALLAO">CALLAO</option>
          <option value="CUSCO">CUSCO</option>
          <option value="HUANCAVELICA">HUANCAVELICA</option>
          <option value="HUANUCO">HUANUCO</option>
          <option value="ICA">ICA</option>
          <option value="JUNIN">JUNIN</option>
          <option value="LA LIBERTAD">LA LIBERTAD</option>
          <option value="LAMBAYEQUE">LAMBAYEQUE</option>
          <option value="LIMA">LIMA</option>
          <option value="LORETO">LORETO</option>
          <option value="MADRE DE DIOS">MADRE DE DIOS</option>
          <option value="MOQUEGUA">MOQUEGUA</option>
          <option value="PASCO">PASCO</option>
          <option value="PIURA">PIURA</option>
          <option value="PUNO">PUNO</option>
          <option value="SAN MARTIN">SAN MARTIN</option>
          <option value="TACNA">TACNA</option>
          <option value="TUMBES">TUMBES</option>
          <option value="UCAYALI">UCAYALI</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12 h-100 vh-100">
    <div id="map"></div>
  </div>
</div>

<script src="src/js/mat.js"></script>
