<style>
  #map {
    width: 100%;
    height: 87vh;
  }
  
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row h-100 vh-100">
  <div class="col-lg-4 col-md-12 h-100 vh-100">
    <div id="map"></div>
  </div>
  <div class="col-lg-8 col-md-12 h-100 vh-100">
    <div class="row">
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        AMAZONAS
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        ÁNCASH
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        APURÍMAC
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        AREQUIPA
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        AYACUCHO
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        CAJAMARCA
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        CALLAO
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        CUSCO
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        HUANCAVELICA
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        HUÁNUCO
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        ICA
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        JUNÍN
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        LA LIBERTAD
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        LAMBAYEQUE
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        LIMA
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        LORETO
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        MADRE DE DIOS
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        MOQUEGUA
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        PASCO
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        PIURA
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        PUNO
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        SAN MARTÍN
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        TACNA
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        TUMBES
      </div>
      <div class="col-3 p-2 mx-5 my-3 clickDepartamento text-center">
        UCAYALI
      </div>
    </div>
  </div>
</div>
<script src="src/js/mat.js"></script>
